<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h3>User ID: <%= uid %></h3>
    <h3>User Email: <%= uemail %></h3>
    <button id="logout" onclick="location.replace('/logout')">로그아웃</button>
</body>
</html>